
{% extends 'main/base.html' %}

{% block content %}
<div class="col-lg-5 col-md-6 col-sm-12">
    <div class="card mb-7 box-shadow">
        <div class="card-header">
            <h4 class="my-0 font-weight-normal">Восстановление пароля</h4>
        </div>
        <div class="card-body">
          <h4 class="my-0 font-weight-normal">Введите почту</h4>
            <form method="post" action="" class="form-floating" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Отправить</button>
            </form>
            <h4 class="my-0 font-weight-normal">Новый пароль придёт на указанную почту</h4>
             <a class="p-2 btn btn-outline-primary" href="{% url 'user:login' %}">Вход</a>


        </div>
    </div>
</div>
{% endblock %}