{% extends 'main/base.html' %}
{% block content %}
{% load static %}

    <!-- Banner -->
    <section id="banner">
        <div class="inner">
            <div class="logo"><span class="icon fa-gem"></span></div>
            <h2>Insight</h2>
            <p>Сервис для оптимизации Вашего времени </p>
            <a href="{% url 'main:request_summary' %}" class="custom-btn btn btn-lg">
                Начать работу
                <i class="bi-person ms-2"></i>
            </a>
        </div>
    </section>

    <!-- Wrapper -->
    <section id="wrapper">

        <!-- One -->
        <section id="one" class="wrapper spotlight style1">
            <div class="inner">
                <a href="#" class="image"><img src="{% static 'images/Собрание в компании.jpg' %}" alt=""/></a>
                <div class="content">
                    <h2 class="major">Протокол встречи</h2>
                    <p>Описание сценария</p>
                    <a href="{% url 'main:faq' %}" class="special">Learn more</a>
                </div>
            </div>
        </section>

        <!-- Two -->
        <section id="two" class="wrapper alt spotlight style2">
            <div class="inner">
                <a href="#" class="image"><img src="{% static 'images/лекция.jpg' %}" alt=""/></a>
                <div class="content">
                    <h2 class="major">Саммари записи</h2>
                    <p>Описание сценария</p>
                    <a href="{% url 'main:faq' %}" class="special">Learn more</a>
                </div>
            </div>
        </section>

        <!-- Three -->
        <section id="three" class="wrapper spotlight style3">
            <div class="inner">
                <a href="#" class="image"><img src="{% static 'images/консультация.jpg' %}" alt=""/></a>
                <div class="content">
                    <h2 class="major">Резюме консультации</h2>
                    <p>Описание сценария</p>
                    <a href="{% url 'main:faq' %}" class="special">Learn more</a>
                </div>
            </div>
        </section>
        <!-- Four -->
        <section id="four" class="wrapper alt spotlight style2">
            <div class="inner">
                <a href="#" class="image"><img src="{% static 'images/лекция 2.jpg' %}" alt=""/></a>
                <div class="content">
                    <h2 class="major">Содержание лекции</h2>
                    <p>Описание сценария</p>
                    <a href="{% url 'main:faq' %}" class="special">Learn more</a>
                </div>
            </div>
        </section>


        <!-- Five -->
        <section id="five" class="wrapper alt style1">
            <div class="inner">
                <h2 class="major">Примеры саммаризации</h2>
                <p>Описание примеров</p>
                <section class="features">
                    <article>
                        <a href="#" class="image"><img src="{% static 'images/pic04.jpg' %}" alt=""/></a>
                        <h3 class="major">Sed feugiat lorem</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus
                            ultrices.</p>
                        <a href="#" class="special">Learn more</a>
                    </article>
                    <article>
                        <a href="#" class="image"><img src="{% static 'images/pic05.jpg' %}" alt=""/></a>
                        <h3 class="major">Nisl placerat</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus
                            ultrices.</p>
                        <a href="#" class="special">Learn more</a>
                    </article>
                    <article>
                        <a href="#" class="image"><img src="{% static 'images/pic06.jpg' %}" alt=""/></a>
                        <h3 class="major">Ante fermentum</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus
                            ultrices.</p>
                        <a href="#" class="special">Learn more</a>
                    </article>
                    <article>
                        <a href="#" class="image"><img src="{% static 'images/pic07.jpg' %}" alt=""/></a>
                        <h3 class="major">Fusce consequat</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing vehicula id nulla dignissim dapibus
                            ultrices.</p>
                        <a href="#" class="special">Learn more</a>
                    </article>
                </section>
                <ul class="actions">
                    <li><a href="#" class="button">Browse All</a></li>
                </ul>
            </div>
        </section>

    </section>
{% endblock %}
