{% extends 'main/base.html' %}
{% load show_filename %}
{% block content %}
<section id="wrapper">
    <header>
        <div class="inner">
            <h2>История запросов</h2>
        </div>
    </header>
    <!-- Content -->
    <div class="wrapper">
        <div class="inner">
            <div class="row"> <!-- Added row here -->
                <div class="col-lg-6">
                    <div class="" style="align-content: center">
                        <div class="card mb-7 box-shadow">

                            <div class="card-body">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Дата</th>
                                        <th scope="col">Ссылка/Файл</th>
                                        <th scope="col">Сценарий</th>

                                        <th scope="col">Саммари готов</th>
                                        <th scope="col"></th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% for summary in summary_requests %}
                                    <tr>
                                        <th scope="row">{{ summary.pk }}</th>
                                        <td>{{ summary.date }}</td>
                                        <td>
                                            {% if summary.youtube_link %}
                                            <a href="{{ object.link }}" target="_blank">{{ summary.youtube_link }}</a>
                                            {% else %}
                                            {{ summary.audio_file|filename }}
                                            {% endif %}
                                        </td>
                                        <td>{{ summary.script_name }}</td>
                                        <td>
                                            {% if summary.summary_is_ready %}
                                            <a href="{% url 'main:summary_download' summary.pk %}">Скачать саммари</a>
                                            {% else %}
                                            <i class="fas fa-spinner fa-spin"></i>
                                            {% endif %}
                                        </td>
                                        <td>
                                            <a href="{% url 'main:summary_read' summary.pk %}">
                                                <button type="button" class="btn btn-sm btn-outline-secondary">
                                                    Подробнее
                                                </button>
                                            </a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}